In [8]:
# Övning 1a) Create a DataFrame
import pandas as pd

data_cities = {
    'Kommun': ["Malmö", "Stockholm", "Uppsala", "Göteborg"],
    'Population': [347949, 975551, 233839, 583056]
}

cities = pd.DataFrame(data_cities)
cities

      Kommun  Population
0      Malmö      347949
1  Stockholm      975551
2    Uppsala      233839
3   Göteborg      583056

In [12]:
# Övning 1b) Select only one row

rad = cities.iloc[[3]]
rad

     Kommun  Population
3  Göteborg      583056

In [13]:
# Övning 1c) Sort the cities by population

sorted_cities = cities.sort_values("Population", ascending=False)

sorted_cities

      Kommun  Population
1  Stockholm      975551
3   Göteborg      583056
0      Malmö      347949
2    Uppsala      233839

In [14]:
# Övning 1d) Filter the three largest cities

large_cities = cities.nlargest(3, 'Population')

large_cities

      Kommun  Population
1  Stockholm      975551
3   Göteborg      583056
0      Malmö      347949

In [20]:
# Övning 1e) Create a new column in sorted DataFrame

total_population = 10379295
sorted_cities['Population (%)'] = round(sorted_cities['Population'] / total_population * 100, 1)

sorted_cities

      Kommun  Population  Population (%)
1  Stockholm      975551             9.4
3   Göteborg      583056             5.6
0      Malmö      347949             3.4
2    Uppsala      233839             2.3